<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Название у нас будет Product -->
{% block title %}
    post
{% endblock title %}


{% block content %}
    <div>
        <h6>Author: {{ post.author.username }}</h6>
        <h6>{{ post.subhub.name }}</h6>
        <h6>{{ post.date }}</h6>
        <h1>{{ post.header|curse_filter }}</h1>
        {{ post.content|curse_filter }}
        <p></p>
        <h6>
            {{ post.rating }}
        </h6>
    </div>

{% endblock content %}